
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;  /* Adjust padding as needed */
}

#logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Header Styles */
header {
    background-color: #F4A8FF; /* Dark red */
    color: white;
    padding: 20px 0 20px 0;  /* Remove left and right padding to avoid logo push */
    text-align: center;
    position: relative;  /* This keeps the logo positioned relative to the header */
}

/* Main Section Styles */
main {
    margin: 20px;
}

section {
    margin-bottom: 30px;
}

/* Button Styles */
button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

.container {
    height: 200px;
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




/* Footer Styles */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
